$zold: #55AE3A;
$sotetzold: #006633;


// display flex

.flex-reverse{
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}


.hover-for-cards:hover{
  box-shadow: 3px 3px 3px 3px gray;
   transition: box-shadow .2s ease-in-out;
}

.gradient {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, black, transparent);
  opacity: .5;
  position: absolute;
  top: 0%;
  left: 0;
}
img {
  display: block;

}