.zold{
    background-color: #55AE3A;
    color: white;
    transform: skew(-30deg);
    max-width: 160px;
    width: 90%;
    height: 32px;
    margin: 0 0px 0px 25px;
  }
.zoldkicsi{
    background-color: #55AE3A;
    color: white;
    transform: skew(-30deg);
    max-width: 130px;
    height: 28px;
    min-width: 95px;
    margin: 0 0px 0px 25px;
}
  .zold_text{
    font-size: 1.1rem;
    display: flex;
    transform: skew(30deg);
    padding: 5px 0 5px 0;
    font-weight: 400;
    justify-content: center;
    width: 100%;
  }
  .zold_text_kicsi{
    font-size: .8rem;
    display: flex;
    transform: skew(30deg);
    padding: 5px 0 5px 0;
    font-weight: 400;
    justify-content: center;
    width: 100%;
    i{
      font-size: .75rem;
    }
  }
  
  i{
    margin-top: .5%;
    font-size: 16;
  }

  @media (max-width: 50rem){
    .zold{
        width: 120px;
        height: 28px;
    }
    .zold_text{
        font-size: .9rem;
    }
    i{
        font-size: 1rem;
        margin-top: 1.5%;
    }
  }